body{
	margin: 0;
	font-family: 'Open Sans';

}

header{
	background: #03a9f4;
	text-align: center;
}

.logo{
	color: #fff;
	font-family: 'Open Sans';
	padding: 10px 0;
}
.logo h2{
	font-size: 40px;
	cursor: pointer;
}
header input{
	font-size: 20px;
	margin:20px 0;

}